<div align="right">
  <%= Time.now() %>
</div>
<hr />
<% if !params[:notice].nil? %>
  <Center>
    <%= params[:notice] %>
    <hr />
  </Center>
<% end %>

<%= form_tag :action=>"login", :method => :login do %>
  <div align="center", class = "field">
    <%= label_tag :username, "Username: " %> 
    <%= text_field_tag :username, nil, :placeholder=>"Enter your username" %>
  </div>

  <div align="center", class ="field">
    <%= label_tag :password, "Password: " %> 
    <%= text_field_tag :password, nil, :type=>"password", :placeholder=>"Enter your password" %>
  </div>
  
  <div align="center", class="actions">
    <%= submit_tag "Login" %>
  </div>
<% end %>