<FONT face="century gothic">
<BODY leftmargin="10%"
      topmargin="5%"
      marginwidth="10%"
      marginheight="5%">
      
  <%= link_to image_tag("/assets/tss.png"), :action=>"index" %>
  <div align=right>
    <%= link_to "logout: #{session[:uname]}", {:action=>"logout"}, 
                  {:style=>'color:#000000;', :class=>"css_class"} %>
  </div>  
  <hr />
  <Center>
  |
    <%= link_to "Home", {:action => "index"}, 
        {:style=>'color:#000000;', :class=>"css_class"}%>
  |
    <%= link_to "My Tickets", {:action => "my_tickets"}, 
        {:style=>'color:#000000;', :class=>"css_class"}%>
  |
    <%= link_to "New Ticket", {:action => "new_ticket"}, 
        {:style=>'color:#000000;', :class=>"css_class"}%>
  |
  </Center>
  <hr />
  
  <h3 align=center>
    <%= "Ticket ID: #{@ticket.id}" %>
  </h3>
  
  <div align=left>
    <%= "Ticket ID: #{@ticket.id}" %><br />
    <%= "User: #{@ticket.user}" %><br />
    <%= "Service Provider: #{@ticket.service_provider}" %><br />
    <%= "Opened At: #{@ticket.opened_at}" %><br />
    <%= "Closed At: #{@ticket.closed_at}" %><br />
    <%= "Description: #{@ticket.description}" %><br />
  </div>
</BODY>
</FONT>
  