<FONT face="century gothic">
<BODY leftmargin="10%"
      topmargin="5%"
      marginwidth="10%"
      marginheight="5%">
      
  <%= link_to image_tag("/assets/tss.png"), :action=>"index" %>
  <div align=right>
    <%= link_to "logout: #{session[:uname]}", {:action=>"logout"}, 
                  {:style=>'color:#000000;', :class=>"css_class"} %>
  </div>  

  <% if session[:priv]=="admin" %>
    <%= render "admin_menu" %>
  <% elsif session[:priv]=="service_provider" %>
    <%= render "service_provider_menu" %>
  <% else %>
    <%= render "user_menu" %>
  <% end %>
  
  <h4 align="center", style="color:#FF0000">
    <%= params[:notice] %>
  </h4>
  
  <h3 align=center>
    <%= "User ID: #{@user.id}" %>
  </h3>
  
  <div align=left>
    <%= "Ticket ID: #{@user.id}" %><br />
    <%= "User: #{@user.username}" %><br />
    <%= "Privilege: #{@user.privilege}" %><br />
    <%= "Created At: #{@user.created_at}" %><br />
  </div>
</BODY>
</FONT>
  
